desktop.ini
.idea
__pycache__
.venv*
venv*
*.egg-info

sphinx/tests/artefacts
.pytest_cache

sphinx/example/docs
sphinx/example/stdout.txt
sphinx/example/stderr.txt

mkdocs/example/site

scratch.*
*.code-workspace