/** - Breaks - **/
hr {
  column-span: all;
  margin: 5rem auto;
  /* D&D style arrow */
  width: 0; 
  height: 0; 
  border-top: 0.25rem solid transparent;
  border-bottom: 0.25rem solid transparent;
  border-left: 15cm solid var(--red);
  border-right: none;
}
/** - Headings - **/
h1, h2, h3, h4, h5, h6, 
.cm-header {
  break-after: avoid-column;

  margin: 0;
  margin-block-start: 0.8em;
  margin-block-end: 0.2em;

  color: var(--red);
}
h1, h2, h3, h4, 
.cm-header1, .cm-header2, .cm-header3, .cm-header4 {
  font-family: "Crimson Text", serif;
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: 0.5px;
}
h1, 
.cm-header1 {
  font-size: 3rem;
}

h2, 
.cm-header2 {
  font-size: 2rem;
}

h3, 
.cm-header3 {
  font-size: 1.5rem;
}

h4, 
.cm-header4 {
  font-size: 1.5rem;
  border-bottom: 2px solid var(--yellow);
}

h5, 
.cm-header5 {
  font-size: 1.2rem;
}

h6, 
.cm-header6 {
  font-size: 1rem;
}

/** Font setting **/
p {
  margin-block-start: 0.2em;
  margin-block-end: 0.8em;
  min-width: 100%;
}

/** Links **/
a {
  color: var(--black);
  text-decoration: underline;
  text-decoration-color: var(--yellow);
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--red);
  text-decoration-color: var(--red);
}
a:hover {
  color: var(--red);
}
a:visited {
  color: var(--yellow);
}
a:active {
  color: var(--red);
}

/** Lists **/
ul, ol {
    padding-left: 1rem;
}

/** Other **/
.md-footnote, sup.md-footnote {
  color: var(--red);
  background-color: rgba(0,0,0,0);
}

/** Emphasis **/
del {
  text-decoration-color: var(--red);
}
u {
  
}
mark {
  background-color: var(--green);
}
::spelling-error {
  color: var(--red);
}